.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    

    grid-area: header;
    color: var(--text-primary);

    .logo {
        padding: 36px;
    }

    .campo-pesquisa {
        background: #FFFFFF29;
        width: 752px;
        height: 56px;
        border-radius: 10px;
        gap: 8px;

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            padding: 16px;
            align-items: center;

        }
    }

    .perfil {
        width: (106px);
        height: (56px);
        left: 1270px;
        padding: 12px;
        border-radius: 8px;
        gap: 8px;

        align-items: end;

        img {
            border-radius: 100%;
        }
    }




}